<%= button_link_to t("new_poll"), new_object_url, :icon => 'add' %>

<h1>Polls</h1>
<table class="index">
  <thead>
    <th><%= t("name") %></th>
    <th><%= t("description") %></th>
    <th><%= t("poll_options") %></th>
    <th><%= t("roles") %></th>
    <th>&nbsp;</td>
  </thead>
  <% @polls.each do |poll| -%>
  <tr id="<%= dom_id poll %>">
    <td>
      <%= h poll.name %><br />
      <%= link_to "Results", '/admin/poll-results/show/' + poll.id.to_s %>
    </td>
    <td><%= h poll.description %></td>
    <td>
      <% poll.poll_options.sort_by { |po| po.id }.each do |po| -%>
        <%= link_to image_tag("admin/icons/edit.png"), edit_admin_poll_poll_option_path(poll, po) %>
        <%= link_to image_tag("admin/icons/delete.png"), admin_poll_poll_option_path(poll, po), :method => :delete %>&nbsp;&nbsp;
        <%= po.value %><br />
      <% end -%>
      <%= link_to image_tag("admin/icons/add.png") + ' New', new_admin_poll_poll_option_path(poll) %>
    </td>
    <td><%= poll.roles.sort_by { |r| r.id }.collect { |r| r.name }.join(', ') %></td>
    <td class="actions">
      <%= link_to_edit poll %>&nbsp;<%= link_to_delete poll %><br />
    </td>
  </tr>
  <% end -%>
</table>
