<h1><%= t("poll_results") %></h1>
<table width="100%">
  <tr>
    <th>Poll Id</th>
    <th>User Id</th>
    <th>Vote</th>
    <th>IP Address</th>
    <th>Voted At</th>
  </tr>
<% @votes.each do |upo| -%>
  <tr>
    <td><%= link_to upo.poll_option.poll_id.to_s, '/admin/poll_results/show/' + upo.poll_option.poll_id.to_s %></td>
    <td><%= upo.user_id %></td>
    <td><%= upo.poll_option.value == 'free_form' ? upo.free_form_vote.value : upo.poll_option.value %></td>
    <td><%= upo.ip_address %></td>
    <td><%= upo.voted_at %></td>
  </tr>
<% end -%>
</table>
